*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container img {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: show-image 1.5s ease forwards 1.8s;
          animation: show-image 1.5s ease forwards 1.8s;
  opacity: 0;
}

.container h3 {
  font-size: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: rgba(52, 52, 52, 0.85);
}

.container h3 span {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-animation: grow 0.3s forwards cubic-bezier(0.99, 0.62, 0.51, 1.29);
          animation: grow 0.3s forwards cubic-bezier(0.99, 0.62, 0.51, 1.29);
  margin: 0 8px;
}

.container h3 span:nth-of-type(1) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.container h3 span:nth-of-type(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.container h3 span:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.container h3 span:nth-of-type(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.container h3 span:nth-of-type(5) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.container h3 span:nth-of-type(6) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.container h3::before, .container h3::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0.4rem;
  -webkit-animation: draw-line 0.3s forwards ease-in 1.5s;
          animation: draw-line 0.3s forwards ease-in 1.5s;
  background: rgba(52, 52, 52, 0.85);
}

.container h3::before {
  top: 0;
  left: 0;
}

.container h3::after {
  bottom: 0;
  right: 0;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  85% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  85% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes draw-line {
  to {
    width: 100%;
  }
}

@keyframes draw-line {
  to {
    width: 100%;
  }
}

@-webkit-keyframes show-image {
  to {
    opacity: 1;
  }
}

@keyframes show-image {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes {}

@keyframes {}@media (max-width: 600px) {
  .container h3 {
    font-size: 5rem;
  }
}
/*# sourceMappingURL=style.css.map */