*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Courier New, Courier, monospace;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.btn, .animation-btn, .restart {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  color: #ededed;
  background-color: #43cc2b;
  -webkit-box-shadow: 2px 0 0 transparent,-2px 0 0 transparent, 0 2px 0 transparent, 0 -2px 0 transparent;
          box-shadow: 2px 0 0 transparent,-2px 0 0 transparent, 0 2px 0 transparent, 0 -2px 0 transparent;
  cursor: pointer;
  width: 4em;
  height: 4em;
  font-size: 3rem;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:active, .animation-btn:active, .restart:active {
  -webkit-transform: translate(-50%, -50%) scale(0.98);
          transform: translate(-50%, -50%) scale(0.98);
}

.toggle-animation {
  display: none;
}

.toggle-animation:checked ~ .animation-btn {
  -webkit-animation: change-colors 0.8s ease 0.8s forwards,exit 0.8s ease-in 1.6s forwards;
          animation: change-colors 0.8s ease 0.8s forwards,exit 0.8s ease-in 1.6s forwards;
}

.toggle-animation:checked ~ .wall, .toggle-animation:checked ~ .bottom-wall, .toggle-animation:checked ~ .land, .toggle-animation:checked ~ .land::before, .toggle-animation:checked ~ .moon, .toggle-animation:checked ~ .restart {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.toggle-animation:checked ~ .square {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.toggle-animation:checked ~ .square span {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.square {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1px;
  height: 1px;
  z-index: -1;
  -webkit-animation: grow 1s forwards;
          animation: grow 1s forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.square span {
  background: #232323;
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-animation: inflate 1s forwards;
          animation: inflate 1s forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.square span:nth-child(1) {
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}

.square span:nth-child(2) {
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.square span:nth-child(3) {
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.square span:nth-child(4) {
  bottom: 0;
  right: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.moon {
  position: absolute;
  right: 1%;
  top: 50%;
  z-index: 1;
  width: 180px;
  height: 180px;
  opacity: 0;
  background: url(moon.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: moon-rise 0.85s ease forwards 2.6s paused,moon-exit 1.2s ease forwards 4.5s paused;
          animation: moon-rise 0.85s ease forwards 2.6s paused,moon-exit 1.2s ease forwards 4.5s paused;
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 150px rgba(237, 237, 237, 0.3), -6px -6px 150px rgba(237, 237, 237, 0.3), 0 -6px 150px rgba(237, 237, 237, 0.3), -6px 0 150px rgba(237, 237, 237, 0.3);
          box-shadow: 6px 6px 150px rgba(237, 237, 237, 0.3), -6px -6px 150px rgba(237, 237, 237, 0.3), 0 -6px 150px rgba(237, 237, 237, 0.3), -6px 0 150px rgba(237, 237, 237, 0.3);
}

.land {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url(land.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-animation: landscape-enter 0.85s ease forwards 2.6s paused, landscape-exit 1.2s ease forwards 4.5s paused;
          animation: landscape-enter 0.85s ease forwards 2.6s paused, landscape-exit 1.2s ease forwards 4.5s paused;
}

.land::before {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#232323));
  background: linear-gradient(to bottom, transparent, #232323);
  -webkit-animation: remove-screen 0.65s ease-in forwards 2.35s paused;
          animation: remove-screen 0.65s ease-in forwards 2.35s paused;
}

.restart {
  font-size: 2em;
  width: 5em;
  height: 5em;
  text-decoration: none;
  top: -100%;
  -webkit-animation: enter-reset 0.5s ease-in forwards 5.3s paused;
          animation: enter-reset 0.5s ease-in forwards 5.3s paused;
}

@-webkit-keyframes grow {
  to {
    width: 100%;
    height: 100%;
  }
}

@keyframes grow {
  to {
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes inflate {
  to {
    width: 3000px;
    height: 3000px;
  }
}

@keyframes inflate {
  to {
    width: 3000px;
    height: 3000px;
  }
}

@-webkit-keyframes change-colors {
  to {
    background-color: transparent;
    -webkit-box-shadow: 2px 0 0 #ededed,-2px 0 0 #ededed, 0 2px 0 #ededed, 0 -2px 0 #ededed;
            box-shadow: 2px 0 0 #ededed,-2px 0 0 #ededed, 0 2px 0 #ededed, 0 -2px 0 #ededed;
  }
}

@keyframes change-colors {
  to {
    background-color: transparent;
    -webkit-box-shadow: 2px 0 0 #ededed,-2px 0 0 #ededed, 0 2px 0 #ededed, 0 -2px 0 #ededed;
            box-shadow: 2px 0 0 #ededed,-2px 0 0 #ededed, 0 2px 0 #ededed, 0 -2px 0 #ededed;
  }
}

@-webkit-keyframes exit {
  0% {
    top: 50%;
  }
  15%, 65% {
    top: 35%;
  }
  100% {
    top: 200%;
  }
}

@keyframes exit {
  0% {
    top: 50%;
  }
  15%, 65% {
    top: 35%;
  }
  100% {
    top: 200%;
  }
}

@-webkit-keyframes landscape-enter {
  to {
    opacity: 1;
  }
}

@keyframes landscape-enter {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remove-screen {
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes remove-screen {
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@-webkit-keyframes moon-rise {
  to {
    opacity: 1;
    top: 10%;
  }
}

@keyframes moon-rise {
  to {
    opacity: 1;
    top: 10%;
  }
}

@-webkit-keyframes landscape-exit {
  to {
    -webkit-transform: scale(1.7) translateY(100vh);
            transform: scale(1.7) translateY(100vh);
  }
}

@keyframes landscape-exit {
  to {
    -webkit-transform: scale(1.7) translateY(100vh);
            transform: scale(1.7) translateY(100vh);
  }
}

@-webkit-keyframes moon-exit {
  to {
    -webkit-transform: scale(1.7) translateY(-100vh);
            transform: scale(1.7) translateY(-100vh);
  }
}

@keyframes moon-exit {
  to {
    -webkit-transform: scale(1.7) translateY(-100vh);
            transform: scale(1.7) translateY(-100vh);
  }
}

@-webkit-keyframes enter-reset {
  to {
    top: 50%;
  }
}

@keyframes enter-reset {
  to {
    top: 50%;
  }
}
/*# sourceMappingURL=style2.css.map */